<%- list_categories({
	depth: 1,
}) %>
<div class="tags">
	<%- tagcloud({
		min_font: 15, 
		max_font: 20, 
		amount: 999, 
		color: true, 
		start_color: 'gray', 
		end_color: 'black',
	}) %>
</div>
